TFLIGHT/TFLIGHT.xpr
TFLIGHT/TFLIGHT.cache
TFLIGHT/TFLIGHT.hw
TFLIGHT/TFLIGHT.sim
TFLIGHT/TFLIGHT.ip_user_files
TFLIGHT/TFLIGHT.hbs
digitcircuit/teamwork/project_1/project_1.sim
digitcircuit/teamwork/project_1/project_1.runs
digitcircuit/teamwork/project_1/project_1.ip_user_files
digitcircuit/teamwork/project_1/project_1.hw
digitcircuit/teamwork/project_1/project_1.xpr
digitcircuit/teamwork/project_1/project_1.cache
digitcircuit/teamwork/project_1/project_1.cache/wt/project.wpc
